# Created by https://www.toptal.com/developers/gitignore/api/text,jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=text,jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps
*.hdf
*.ipynb
*.pyc
*.sh

# End of https://www.toptal.com/developers/gitignore/api/text,jupyternotebooks